.website:focus {
  box-shadow: none;
}

body {
  overflow-y: hidden;
}

.website {
  padding: 15px 0px 8px 15px;
}

.web_selected {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  padding: 15px 0px 8px 15px;
}

.fa-check-circle {
  color: #5bc3eb;
  position: relative;
  top: 9px;
  right: 8px;
  height: 7px;
  width: 7px;
}

.web_selected:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.attributes {
  padding-left: 15%;
  background-color: #e9f1f7;
}

.Startbtn {
  margin-left: 40%;
}

.check_label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ed6a5a;
  border-color: #ed6a5a;
  border-radius: 10px;
}
.check_label::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  right: 22px;
  top: 2px;
  background-color: #fff;
  transition: all 0.4s ease;
  cursor: pointer;
}
.check_btn {
  display: none;
}
.check_btn:checked + .check_label {
  background-color: #b0e298;
  border-color: #b0e298;
}
.check_btn:checked + .check_label::before {
  right: 2px;
}
.check_label + label {
  position: relative;
  bottom: 4px;
  left: 3px;
}
