{% extends "layout.html" %}

<!-- 导入css -->
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='home.css') }}"
/>
{% endblock %}

<!-- 具体内容 -->
{% block content %}
<!-- 搜索框，以及开始爬虫按钮 -->
<div class="filter pb-5">
  <div class="row g-3 pt-sm-5 pt-md-0 pb-4">
    <div class="col-8">
      <input
        type="text"
        class="form-control filter-input"
        placeholder="输入爬虫对象网址"
      />
    </div>
    <div class="col-3">
      <button type="button" class="btn Addbtn ms-auto">添加站点</button>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<!-- 网站图标,展示爬虫对象 -->
<div class="websites pb-5">
  <div class="row g-3">
    <div class="col-md-1"></div>
    <div class="col-md-2 col-sm-4">
      <button type="button" class="btn website">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-shejiaotubiao-46"></use>
        </svg>
      </button>
    </div>
    <div class="col-md-2 col-sm-4">
      <button type="button" class="btn website">
        <svg class="icon" aria-hidden="true">
          <use
            xlink:href="#icon-toutiaoyangshi
    "
          ></use>
        </svg>
      </button>
    </div>
    <div class="col-md-2 col-sm-4">
      <button type="button" class="btn website">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-wangyi"></use>
        </svg>
      </button>
    </div>
    <div class="col-md-2 col-sm-4">
      <button type="button" class="btn website">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-icon2"></use>
        </svg>
      </button>
    </div>
    <div class="col-md-2 col-sm-4">
      <button type="button" class="btn website btn-blue">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-icon_bilibili-circle"></use>
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- 选择爬取具体属性，开始爬取 -->
<div class="attributes py-5">
  <div class="row g-2 px-5">
    <div class="col-md-3 col-sm-3">
      <input type="checkbox" class="check_btn" id="btncheck1" checked/>
      <label class="check_label" for="btncheck1"></label>
      <label for="btncheck1">标题</label>
    </div>
    <div class="col-md-3 col-sm-3">
      <input type="checkbox" class="check_btn" id="btncheck2" checked/>
      <label class="check_label" for="btncheck2"></label>
      <label for="btncheck2">正文</label>
    </div>
    <div class="col-md-3 col-sm-3">
      <input type="checkbox" class="check_btn" id="btncheck3" checked/>
      <label class="check_label" for="btncheck3"></label>
      <label for="btncheck3">概要</label>
    </div>
    <div class="col-md-3 col-sm-3">
      <input type="checkbox" class="check_btn" id="btncheck4" checked/>
      <label class="check_label" for="btncheck4"></label>
      <label for="btncheck4">点赞数</label>
    </div>
    <div class="col-md-3 col-sm-3">
      <input type="checkbox" class="check_btn" id="btncheck5" checked/>
      <label class="check_label" for="btncheck5"></label>
      <label for="btncheck5">阅读数</label>
    </div>
    <div class="col-md-3 col-sm-3">
      <input type="checkbox" class="check_btn" id="btncheck6" checked/>
      <label class="check_label" for="btncheck6"></label>
      <label for="btncheck6">评论数</label>
    </div>
    <div class="col-md-3 col-sm-3">
      <input type="checkbox" class="check_btn" id="btncheck7" checked/>
      <label class="check_label" for="btncheck7"></label>
      <label for="btncheck7">来源</label>
    </div>
  </div>
  <div class="pt-2">
    <button type="button" class="btn Addbtn Startbtn">
      <a href="/category/体育"> 开始爬取</a>
  </div>
</div>
{% endblock content %}

<!-- 导入js -->
{% block scripts %}
<script src="{{ url_for('static',filename='home.js') }}"></script>
{% endblock %}
